/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$link-color: #393e46 !default;
$link-color-hover: #6667AB !default;
$masthead-link-color-hover: #6667AB !default;